page-contact {
  ion-card {
    position: relative;
    text-align: left;
  }

  .card-title {
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: #5522a5;
  }

  .card-subtitle {
    font-size: 1em;
    width: 100%;
    color: #3c15a7;
  }
  .adresse {
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
  }
}
